/* Estilos Gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

/* Container Externo */
.out-container {
    background-color: #000;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos do Carrossel */
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 70%;
    aspect-ratio: 16 / 8;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
}

/* Estilos para os Itens do Carrossel */
.carousel-item {
    position: relative;
    min-width: 100%;
    text-align: center;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Efeito de Opacidade e Degradê nas Imagens Laterais */
.carousel-item:not(.active) {
    opacity: 0.3;
    filter: grayscale(100%);
    transition: opacity 0.5s ease, filter 0.5s ease;
}

.carousel-item.active {
    opacity: 1;
    filter: grayscale(0);
}

/* Estilos da Descrição do Carrossel */
.carousel-description {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
    text-align: left;
    max-width: 60%;
}

.carousel-description h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
    font-weight: bold;
}

.carousel-description p {
    font-size: 1em;
    line-height: 1.5;
}

/* Estilos das Setas de Navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    z-index: 10;
    padding: 10px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    color: #cccccc;
    background-color: rgba(0, 0, 0, 0.7);
}
